<ion-header>
  <ion-navbar>
    <ion-title>Registrar Usuario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<div class="seleccionarGimnasio" [hidden]="gimnasioSeleccionado">
    <h4>Seleccione su gimnasio</h4>
    <button ion-button small color="secondary" (click)="sinGimnasio()">No poseo gimnasio</button>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let gimnasio of gimnasios" (click)="agregarGimnasio(gimnasio)">
        {{ gimnasio.nombre }}
      </ion-item>
    </ion-list>
</div>

<div class="seleccionarTipoUsuario" [hidden]="usuarioSeleccionado">
  <ion-list radio-group [(ngModel)]="tipoUsuario" (ngModelChange)="tipoUsuarioSeleccionado()">
  <ion-list-header>¿Qué es usted?</ion-list-header>

  <ion-item>
    <ion-label>Entrenador</ion-label>
    <ion-radio value="entrenador"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Cliente</ion-label>
    <ion-radio value="cliente"></ion-radio>
  </ion-item>
  </ion-list>
</div>

<div class="formularioCompleto" [hidden]="datosCompletados">

  <form [formGroup]="miForm" (ngSubmit)="onSubmit()">
    <ion-item>
        <ion-label color="primary" floating>Nombre</ion-label>
        <ion-input [(ngModel)]="infoUsuario.nombre" formControlName="nombre" type="text"></ion-input>
    </ion-item>
    <p *ngIf="!isValid('nombre')" color="danger" padding-left>Inserte nombre o verifique el campo ingresado</p>

    <ion-item>
        <ion-label color="primary" floating>Apellido</ion-label>
        <ion-input [(ngModel)]="infoUsuario.apellido" formControlName="apellido" type="text"></ion-input>
    </ion-item>
    <p *ngIf="!isValid('apellido')" color="danger" padding-left>Inserte apellido o verifique el campo ingresado"</p>

    <ion-item>
        <ion-label color="primary" floating>DNI</ion-label>
        <ion-input [(ngModel)]="infoUsuario.dni" formControlName="dni" type="text"></ion-input>
    </ion-item>
    <p *ngIf="!isValid('dni')" color="danger" padding-left>Inserte DNI o verifique el numero ingresado. Sin puntos ejemplo 34315653"</p>

    <ion-item>
        <ion-label color="primary" floating>Ingrese su fecha de nacimiento</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="infoUsuario.fechaDeNacimiento" formControlName="fechaDeNacimiento"></ion-datetime>
    </ion-item>
    <p *ngIf="!isValid('fechaDeNacimiento')" color="danger" padding-left>Ingrese su fecha de nacimiento</p>

    <ion-item>
        <ion-label color="primary" floating>Email</ion-label>
        <ion-input [(ngModel)]="infoUsuario.email" formControlName="email" type="text"></ion-input>
    </ion-item>
    <p *ngIf="!isValid('email')" color="danger" padding-left>Ingrese su email o verifique lo ingresado</p>

    <ion-item>
        <ion-label color="primary" floating>Telefono Celular</ion-label>
        <ion-input [(ngModel)]="infoUsuario.telefono" formControlName="telefono" type="text"></ion-input>
    </ion-item>
    <p *ngIf="!isValid('telefono')" color="danger" padding-left>Ingrese su telefono o verifique lo ingresado. Ingrese el teléfono sin ningún simbolo con la caracteristica ejemplo: 3516775504</p>


    <ion-item>
        <ion-label color="primary" floating>Contraseña</ion-label>
        <ion-input [(ngModel)]="infoUsuario.password" formControlName="password" type="password"></ion-input>
    </ion-item>
    <p *ngIf="!isValid('password')" color="danger" padding-left>Contraseña inválida. Como menos 4 caracteres y un número</p>
    <ion-item>
        <ion-label color="primary" floating>Vuelva a ingresar contraseña</ion-label>
        <ion-input [(ngModel)]="infoUsuario.password2" (input)="revisarPasswordsIguales()" formControlName="password2" type="password"></ion-input>
    </ion-item>
    <p *ngIf="!isValid('password2')" color="danger" padding-left>Contraseña inválida. Como menos 4 caracteres y un número</p>
    <p *ngIf="!sonPasswordsIguales" color="danger" padding-left>Las contraseñas con coinciden!</p>

    <button ion-button type="submit" [disabled]="!miForm.valid || !sonPasswordsIguales">Create Account</button>
</form>

</div>

</ion-content>
