<ion-header>
  <ion-navbar>
    <ion-title>Registrar Usuario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<div class="seleccionarGimnasio" [hidden]="gimnasioSeleccionado">
    <h4>Seleccione su gimnasio</h4>
    <button ion-button small color="secondary" (click)="sinGimnasio()">No poseo gimnasio</button>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let gimnasio of gimnasios" (click)="agregarGimnasio(gimnasio)">
        {{ gimnasio.nombre }}
      </ion-item>
    </ion-list>
</div>

<div class="seleccionarTipoUsuario" [hidden]="usuarioSeleccionado">
  <ion-list radio-group [(ngModel)]="tipoUsuario" (ngModelChange)="tipoUsuarioSeleccionado()">
  <ion-list-header>¿Qué es usted?</ion-list-header>

  <ion-item>
    <ion-label>Entrenador</ion-label>
    <ion-radio value="entrenador"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Cliente</ion-label>
    <ion-radio value="cliente"></ion-radio>
  </ion-item>
  </ion-list>
</div>

<div class="formularioCompleto" [hidden]="datosCompletados">

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-item>
          <ion-label color="primary" floating>Nombre</ion-label>
          <ion-input [(ngModel)]="userInfo.nombre" formControlName="nombre" type="text"></ion-input>
      </ion-item>
      <p *ngIf="!isValid('nombre')" color="danger" padding-left>Insert an username</p>

      <ion-item>
          <ion-label color="primary" floating>Apellido</ion-label>
          <ion-input [(ngModel)]="userInfo.apellido" formControlName="dni" type="apellido"></ion-input> 
      </ion-item>

      <ion-item>
          <ion-label color="primary" floating>Dni</ion-label>
          <ion-input [(ngModel)]="userInfo.dni" formControlName="dni" type="text"></ion-input> 
      </ion-item>

      <ion-item>
          <ion-label color="primary" floating>Fecha de nacimiento</ion-label>
          <ion-input [(ngModel)]="userInfo.fechaDeNacimiento" formControlName="fechaDeNacimiento" type="text"></ion-input> 
      </ion-item>

      <ion-item>
          <ion-label color="primary" floating>Correo electronico</ion-label>
          <ion-input [(ngModel)]="userInfo.email" formControlName="email" type="text"></ion-input> 
      </ion-item>

      <ion-item>
          <ion-label color="primary" floating>Teléfono</ion-label>
          <ion-input [(ngModel)]="userInfo.telefono" formControlName="telefono" type="text"></ion-input> 
      </ion-item>

      <ion-item>
          <ion-label color="primary" floating>Contraseña</ion-label>
          <ion-input [(ngModel)]="userInfo.password" formControlName="password" type="password"></ion-input> 
      </ion-item>

      <ion-item>
          <ion-label color="primary" floating>Vuelva a ingresar contraseña</ion-label>
          <ion-input [(ngModel)]="userInfo.password2" formControlName="password2" type="password"></ion-input> 
      </ion-item>
      <p *ngIf="!isValid('password')" color="danger" padding-left>Invalid password. At least 4 chars and a number.</p>

      <button ion-button type="submit" [disabled]="!myForm.valid">Create Account</button>
  </form>

</div>

</ion-content>
