.main-entrenador {
    .cliente {
        float: left;

        .icono-contacto {
            margin-top: 18px;
            margin-right: 13px;
            float: left;
        }
        .nombre-contacto {
            float: left;
        }
    }

}