<ion-content padding>
  <h3 style="text-align: center">Bienvenido a RutinApp</h3>
  <p style="text-align: center"> Inicie sesión o cree una cuenta nueva </p>
<ion-list>
  <ion-item>
    <ion-label color="primary" floating>Correo electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="email" (input)="revisarCampos()" name="email" value=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="contrasenna" (input)="revisarCampos()" name="contrasenna"></ion-input>
  </ion-item>
  <button ion-button full (click)="iniciarSesion()" [disabled]="!habilitarBoton">Iniciar Sesión</button>
  <button ion-button full (click)="registrarUsuario()" >No estoy registrado</button>
</ion-list>

<button ion-button full color="danger" *ngIf="mostrarDevTools" (click)="toggleDevTools()"> MostrarDevTools</button>
<button ion-button full color="danger" *ngIf="!mostrarDevTools" (click)="toggleDevTools()"> OcultarDevTools</button>
<div *ngIf="!mostrarDevTools">
  <button ion-button color="secondary" (click)="eliminar()">Eliminar todo</button>
  <button ion-button color="dark"(click)="mostrar()">mostrar todo</button>
  <button ion-button color="dark"(click)="cargar1y1()">Cargar un entrenador y un cliente</button>
  <button ion-button color="danger" (click)="agregarGimnasios()">Agregar gimnasios</button>
  <button ion-button color="dark"(click)="mostrarGimnasios()">Mostrar gimnasios</button>
</div>

</ion-content>
